<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<form method="post" th:action="@{/account/registration}" th:object="${user}">
  <input placeholder="Login" th:field="*{user.userName}">
  <input placeholder="Password" th:field="*{user.password}">
  <input type="submit" value="Регистрация">
</form>
</body>
</html>